custom/contactlabwebservices/resources/wsdl/contactlabwebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ws.api.contactlab.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://ws.api.contactlab.com/" name="ClabService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.api.contactlab.com/" schemaLocation="contactlabwebservice_1.xsd" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="domain.ws.api.contactlab.com" schemaLocation="contactlabwebservice_2.xsd" />
    </xsd:schema>
  </types>
  <message name="isSubscriberSourceLocked">
    <part name="parameters" element="tns:isSubscriberSourceLocked" />
  </message>
  <message name="isSubscriberSourceLockedResponse">
    <part name="parameters" element="tns:isSubscriberSourceLockedResponse" />
  </message>
  <message name="countSubscribers">
    <part name="parameters" element="tns:countSubscribers" />
  </message>
  <message name="countSubscribersResponse">
    <part name="parameters" element="tns:countSubscribersResponse" />
  </message>
  <message name="updateSubscriber">
    <part name="parameters" element="tns:updateSubscriber" />
  </message>
  <message name="updateSubscriberResponse">
    <part name="parameters" element="tns:updateSubscriberResponse" />
  </message>
  <message name="modifySubscriberSubscriptionStatus">
    <part name="parameters" element="tns:modifySubscriberSubscriptionStatus" />
  </message>
  <message name="modifySubscriberSubscriptionStatusResponse">
    <part name="parameters" element="tns:modifySubscriberSubscriptionStatusResponse" />
  </message>
  <message name="getAvailableCommunicationCategories">
    <part name="parameters" element="tns:getAvailableCommunicationCategories" />
  </message>
  <message name="getAvailableCommunicationCategoriesResponse">
    <part name="parameters" element="tns:getAvailableCommunicationCategoriesResponse" />
  </message>
  <message name="getCampaignDeliveryStatus">
    <part name="parameters" element="tns:getCampaignDeliveryStatus" />
  </message>
  <message name="getCampaignDeliveryStatusResponse">
    <part name="parameters" element="tns:getCampaignDeliveryStatusResponse" />
  </message>
  <message name="publishOnWeb">
    <part name="parameters" element="tns:publishOnWeb" />
  </message>
  <message name="publishOnWebResponse">
    <part name="parameters" element="tns:publishOnWebResponse" />
  </message>
  <message name="getCampaign">
    <part name="parameters" element="tns:getCampaign" />
  </message>
  <message name="getCampaignResponse">
    <part name="parameters" element="tns:getCampaignResponse" />
  </message>
  <message name="sendCampaign">
    <part name="parameters" element="tns:sendCampaign" />
  </message>
  <message name="sendCampaignResponse">
    <part name="parameters" element="tns:sendCampaignResponse" />
  </message>
  <message name="cloneAndSendCampaign">
    <part name="parameters" element="tns:cloneAndSendCampaign" />
  </message>
  <message name="cloneAndSendCampaignResponse">
    <part name="parameters" element="tns:cloneAndSendCampaignResponse" />
  </message>
  <message name="getRequestStatus">
    <part name="parameters" element="tns:getRequestStatus" />
  </message>
  <message name="getRequestStatusResponse">
    <part name="parameters" element="tns:getRequestStatusResponse" />
  </message>
  <message name="createCampaign">
    <part name="parameters" element="tns:createCampaign" />
  </message>
  <message name="createCampaignResponse">
    <part name="parameters" element="tns:createCampaignResponse" />
  </message>
  <message name="setCampaignRecurrency">
    <part name="parameters" element="tns:setCampaignRecurrency" />
  </message>
  <message name="setCampaignRecurrencyResponse">
    <part name="parameters" element="tns:setCampaignRecurrencyResponse" />
  </message>
  <message name="getXMLDeliveries">
    <part name="parameters" element="tns:getXMLDeliveries" />
  </message>
  <message name="getXMLDeliveriesResponse">
    <part name="parameters" element="tns:getXMLDeliveriesResponse" />
  </message>
  <message name="getXMLDeliveryTransitions">
    <part name="parameters" element="tns:getXMLDeliveryTransitions" />
  </message>
  <message name="getXMLDeliveryTransitionsResponse">
    <part name="parameters" element="tns:getXMLDeliveryTransitionsResponse" />
  </message>
  <message name="cancelCampaign">
    <part name="parameters" element="tns:cancelCampaign" />
  </message>
  <message name="cancelCampaignResponse">
    <part name="parameters" element="tns:cancelCampaignResponse" />
  </message>
  <message name="getSubscriberSourceFilter">
    <part name="parameters" element="tns:getSubscriberSourceFilter" />
  </message>
  <message name="getSubscriberSourceFilterResponse">
    <part name="parameters" element="tns:getSubscriberSourceFilterResponse" />
  </message>
  <message name="addSubscriberSourceFilter">
    <part name="parameters" element="tns:addSubscriberSourceFilter" />
  </message>
  <message name="addSubscriberSourceFilterResponse">
    <part name="parameters" element="tns:addSubscriberSourceFilterResponse" />
  </message>
  <message name="findFiltersBySubscriberSource">
    <part name="parameters" element="tns:findFiltersBySubscriberSource" />
  </message>
  <message name="findFiltersBySubscriberSourceResponse">
    <part name="parameters" element="tns:findFiltersBySubscriberSourceResponse" />
  </message>
  <message name="getSubscriberSource">
    <part name="parameters" element="tns:getSubscriberSource" />
  </message>
  <message name="getSubscriberSourceResponse">
    <part name="parameters" element="tns:getSubscriberSourceResponse" />
  </message>
  <message name="findSubscriberSources">
    <part name="parameters" element="tns:findSubscriberSources" />
  </message>
  <message name="findSubscriberSourcesResponse">
    <part name="parameters" element="tns:findSubscriberSourcesResponse" />
  </message>
  <message name="getSubscriber">
    <part name="parameters" element="tns:getSubscriber" />
  </message>
  <message name="getSubscriberResponse">
    <part name="parameters" element="tns:getSubscriberResponse" />
  </message>
  <message name="addSubscriber">
    <part name="parameters" element="tns:addSubscriber" />
  </message>
  <message name="addSubscriberResponse">
    <part name="parameters" element="tns:addSubscriberResponse" />
  </message>
  <message name="addSubscribers">
    <part name="parameters" element="tns:addSubscribers" />
  </message>
  <message name="addSubscribersResponse">
    <part name="parameters" element="tns:addSubscribersResponse" />
  </message>
  <message name="removeSubscriber">
    <part name="parameters" element="tns:removeSubscriber" />
  </message>
  <message name="removeSubscriberResponse">
    <part name="parameters" element="tns:removeSubscriberResponse" />
  </message>
  <message name="findSubscribersIncludedInFilter">
    <part name="parameters" element="tns:findSubscribersIncludedInFilter" />
  </message>
  <message name="findSubscribersIncludedInFilterResponse">
    <part name="parameters" element="tns:findSubscribersIncludedInFilterResponse" />
  </message>
  <message name="startSubscriberDataExchange">
    <part name="parameters" element="tns:startSubscriberDataExchange" />
  </message>
  <message name="startSubscriberDataExchangeResponse">
    <part name="parameters" element="tns:startSubscriberDataExchangeResponse" />
  </message>
  <message name="getSubscriberDataExchangeStatus">
    <part name="parameters" element="tns:getSubscriberDataExchangeStatus" />
  </message>
  <message name="getSubscriberDataExchangeStatusResponse">
    <part name="parameters" element="tns:getSubscriberDataExchangeStatusResponse" />
  </message>
  <message name="getMessageModelById">
    <part name="parameters" element="tns:getMessageModelById" />
  </message>
  <message name="getMessageModelByIdResponse">
    <part name="parameters" element="tns:getMessageModelByIdResponse" />
  </message>
  <message name="createMessageModel">
    <part name="parameters" element="tns:createMessageModel" />
  </message>
  <message name="createMessageModelResponse">
    <part name="parameters" element="tns:createMessageModelResponse" />
  </message>
  <message name="findMessageModels">
    <part name="parameters" element="tns:findMessageModels" />
  </message>
  <message name="findMessageModelsResponse">
    <part name="parameters" element="tns:findMessageModelsResponse" />
  </message>
  <message name="findMessageModelsBySubscriberSource">
    <part name="parameters" element="tns:findMessageModelsBySubscriberSource" />
  </message>
  <message name="findMessageModelsBySubscriberSourceResponse">
    <part name="parameters" element="tns:findMessageModelsBySubscriberSourceResponse" />
  </message>
  <message name="findCampaignsByNameOrSubject">
    <part name="parameters" element="tns:findCampaignsByNameOrSubject" />
  </message>
  <message name="findCampaignsByNameOrSubjectResponse">
    <part name="parameters" element="tns:findCampaignsByNameOrSubjectResponse" />
  </message>
  <message name="findCampaignsByStatus">
    <part name="parameters" element="tns:findCampaignsByStatus" />
  </message>
  <message name="findCampaignsByStatusResponse">
    <part name="parameters" element="tns:findCampaignsByStatusResponse" />
  </message>
  <message name="findCampaignsSentBetween">
    <part name="parameters" element="tns:findCampaignsSentBetween" />
  </message>
  <message name="findCampaignsSentBetweenResponse">
    <part name="parameters" element="tns:findCampaignsSentBetweenResponse" />
  </message>
  <message name="findCampaignsByNote">
    <part name="parameters" element="tns:findCampaignsByNote" />
  </message>
  <message name="findCampaignsByNoteResponse">
    <part name="parameters" element="tns:findCampaignsByNoteResponse" />
  </message>
  <message name="findCampaignsByModel">
    <part name="parameters" element="tns:findCampaignsByModel" />
  </message>
  <message name="findCampaignsByModelResponse">
    <part name="parameters" element="tns:findCampaignsByModelResponse" />
  </message>
  <message name="findTriggerableCampaigns">
    <part name="parameters" element="tns:findTriggerableCampaigns" />
  </message>
  <message name="findTriggerableCampaignsResponse">
    <part name="parameters" element="tns:findTriggerableCampaignsResponse" />
  </message>
  <message name="findPeriodicCampaigns">
    <part name="parameters" element="tns:findPeriodicCampaigns" />
  </message>
  <message name="findPeriodicCampaignsResponse">
    <part name="parameters" element="tns:findPeriodicCampaignsResponse" />
  </message>
  <message name="findCampaignsBySubscriberSourceFilter">
    <part name="parameters" element="tns:findCampaignsBySubscriberSourceFilter" />
  </message>
  <message name="findCampaignsBySubscriberSourceFilterResponse">
    <part name="parameters" element="tns:findCampaignsBySubscriberSourceFilterResponse" />
  </message>
  <message name="addCampaignNote">
    <part name="parameters" element="tns:addCampaignNote" />
  </message>
  <message name="addCampaignNoteResponse">
    <part name="parameters" element="tns:addCampaignNoteResponse" />
  </message>
  <message name="findNotesByCampaign">
    <part name="parameters" element="tns:findNotesByCampaign" />
  </message>
  <message name="findNotesByCampaignResponse">
    <part name="parameters" element="tns:findNotesByCampaignResponse" />
  </message>
  <message name="addAttachment">
    <part name="parameters" element="tns:addAttachment" />
  </message>
  <message name="addAttachmentResponse">
    <part name="parameters" element="tns:addAttachmentResponse" />
  </message>
  <message name="getCampaignFeedback">
    <part name="parameters" element="tns:getCampaignFeedback" />
  </message>
  <message name="getCampaignFeedbackResponse">
    <part name="parameters" element="tns:getCampaignFeedbackResponse" />
  </message>
  <message name="requestCampaignFeedbackReport">
    <part name="parameters" element="tns:requestCampaignFeedbackReport" />
  </message>
  <message name="requestCampaignFeedbackReportResponse">
    <part name="parameters" element="tns:requestCampaignFeedbackReportResponse" />
  </message>
  <message name="uploadMediaContent">
    <part name="parameters" element="tns:uploadMediaContent" />
  </message>
  <message name="uploadMediaContentResponse">
    <part name="parameters" element="tns:uploadMediaContentResponse" />
  </message>
  <message name="addSubscriberSource">
    <part name="parameters" element="tns:addSubscriberSource" />
  </message>
  <message name="addSubscriberSourceResponse">
    <part name="parameters" element="tns:addSubscriberSourceResponse" />
  </message>
  <message name="countSubscribersIncludedInFilter">
    <part name="parameters" element="tns:countSubscribersIncludedInFilter" />
  </message>
  <message name="countSubscribersIncludedInFilterResponse">
    <part name="parameters" element="tns:countSubscribersIncludedInFilterResponse" />
  </message>
  <message name="findSubscribers">
    <part name="parameters" element="tns:findSubscribers" />
  </message>
  <message name="findSubscribersResponse">
    <part name="parameters" element="tns:findSubscribersResponse" />
  </message>
  <message name="getCryptoKey">
    <part name="parameters" element="tns:getCryptoKey" />
  </message>
  <message name="getCryptoKeyResponse">
    <part name="parameters" element="tns:getCryptoKeyResponse" />
  </message>
  <message name="findCampaigns">
    <part name="parameters" element="tns:findCampaigns" />
  </message>
  <message name="findCampaignsResponse">
    <part name="parameters" element="tns:findCampaignsResponse" />
  </message>
  <message name="getAttachmentByCampaignId">
    <part name="parameters" element="tns:getAttachmentByCampaignId" />
  </message>
  <message name="getAttachmentByCampaignIdResponse">
    <part name="parameters" element="tns:getAttachmentByCampaignIdResponse" />
  </message>
  <message name="getTrackedLinks">
    <part name="parameters" element="tns:getTrackedLinks" />
  </message>
  <message name="getTrackedLinksResponse">
    <part name="parameters" element="tns:getTrackedLinksResponse" />
  </message>
  <message name="triggerDeliveryById">
    <part name="parameters" element="tns:triggerDeliveryById" />
  </message>
  <message name="triggerDeliveryByIdResponse">
    <part name="parameters" element="tns:triggerDeliveryByIdResponse" />
  </message>
  <message name="triggerDeliveryByAlias">
    <part name="parameters" element="tns:triggerDeliveryByAlias" />
  </message>
  <message name="triggerDeliveryByAliasResponse">
    <part name="parameters" element="tns:triggerDeliveryByAliasResponse" />
  </message>
  <message name="borrowToken">
    <part name="parameters" element="tns:borrowToken" />
  </message>
  <message name="borrowTokenResponse">
    <part name="parameters" element="tns:borrowTokenResponse" />
  </message>
  <message name="keepaliveToken">
    <part name="parameters" element="tns:keepaliveToken" />
  </message>
  <message name="keepaliveTokenResponse">
    <part name="parameters" element="tns:keepaliveTokenResponse" />
  </message>
  <message name="invalidateToken">
    <part name="parameters" element="tns:invalidateToken" />
  </message>
  <message name="invalidateTokenResponse">
    <part name="parameters" element="tns:invalidateTokenResponse" />
  </message>
  <message name="archiveSubscriberSourceFilter">
    <part name="parameters" element="tns:archiveSubscriberSourceFilter" />
  </message>
  <message name="archiveSubscriberSourceFilterResponse">
    <part name="parameters" element="tns:archiveSubscriberSourceFilterResponse" />
  </message>
  <message name="reuseSubscriberSourceFilter">
    <part name="parameters" element="tns:reuseSubscriberSourceFilter" />
  </message>
  <message name="reuseSubscriberSourceFilterResponse">
    <part name="parameters" element="tns:reuseSubscriberSourceFilterResponse" />
  </message>
  <message name="findArchivedFiltersBySubscriberSource">
    <part name="parameters" element="tns:findArchivedFiltersBySubscriberSource" />
  </message>
  <message name="findArchivedFiltersBySubscriberSourceResponse">
    <part name="parameters" element="tns:findArchivedFiltersBySubscriberSourceResponse" />
  </message>
  <message name="getArchivedSubscriberSourceFilter">
    <part name="parameters" element="tns:getArchivedSubscriberSourceFilter" />
  </message>
  <message name="getArchivedSubscriberSourceFilterResponse">
    <part name="parameters" element="tns:getArchivedSubscriberSourceFilterResponse" />
  </message>
  <message name="modifySubscriberSubscriptionStatusByMailqId">
    <part name="parameters" element="tns:modifySubscriberSubscriptionStatusByMailqId" />
  </message>
  <message name="modifySubscriberSubscriptionStatusByMailqIdResponse">
    <part name="parameters" element="tns:modifySubscriberSubscriptionStatusByMailqIdResponse" />
  </message>
  <message name="sendImmediateMessage">
    <part name="parameters" element="tns:sendImmediateMessage" />
  </message>
  <message name="sendImmediateMessageResponse">
    <part name="parameters" element="tns:sendImmediateMessageResponse" />
  </message>
  <message name="sendImmediateMessageSidCid">
    <part name="parameters" element="tns:sendImmediateMessageSidCid" />
  </message>
  <message name="sendImmediateMessageSidCidResponse">
    <part name="parameters" element="tns:sendImmediateMessageSidCidResponse" />
  </message>
  <message name="sendImmediateMessageSDataCData">
    <part name="parameters" element="tns:sendImmediateMessageSDataCData" />
  </message>
  <message name="sendImmediateMessageSDataCDataResponse">
    <part name="parameters" element="tns:sendImmediateMessageSDataCDataResponse" />
  </message>
  <message name="sendImmediateMessageSIdCData">
    <part name="parameters" element="tns:sendImmediateMessageSIdCData" />
  </message>
  <message name="sendImmediateMessageSIdCDataResponse">
    <part name="parameters" element="tns:sendImmediateMessageSIdCDataResponse" />
  </message>
  <message name="sendImmediateMessageSdataCAl">
    <part name="parameters" element="tns:sendImmediateMessageSdataCAl" />
  </message>
  <message name="sendImmediateMessageSdataCAlResponse">
    <part name="parameters" element="tns:sendImmediateMessageSdataCAlResponse" />
  </message>
  <message name="sendImmediateMessageSidCAl">
    <part name="parameters" element="tns:sendImmediateMessageSidCAl" />
  </message>
  <message name="sendImmediateMessageSidCAlResponse">
    <part name="parameters" element="tns:sendImmediateMessageSidCAlResponse" />
  </message>
  <message name="sendImmediateMessageSDataCIdCA">
    <part name="parameters" element="tns:sendImmediateMessageSDataCIdCA" />
  </message>
  <message name="sendImmediateMessageSDataCIdCAResponse">
    <part name="parameters" element="tns:sendImmediateMessageSDataCIdCAResponse" />
  </message>
  <message name="sendImmediateMessageSidCidCA">
    <part name="parameters" element="tns:sendImmediateMessageSidCidCA" />
  </message>
  <message name="sendImmediateMessageSidCidCAResponse">
    <part name="parameters" element="tns:sendImmediateMessageSidCidCAResponse" />
  </message>
  <message name="sendImmediateMessageSDataCDataCA">
    <part name="parameters" element="tns:sendImmediateMessageSDataCDataCA" />
  </message>
  <message name="sendImmediateMessageSDataCDataCAResponse">
    <part name="parameters" element="tns:sendImmediateMessageSDataCDataCAResponse" />
  </message>
  <message name="sendImmediateMessageSIdCDataCA">
    <part name="parameters" element="tns:sendImmediateMessageSIdCDataCA" />
  </message>
  <message name="sendImmediateMessageSIdCDataCAResponse">
    <part name="parameters" element="tns:sendImmediateMessageSIdCDataCAResponse" />
  </message>
  <message name="sendImmediateMessageSdataCAlCA">
    <part name="parameters" element="tns:sendImmediateMessageSdataCAlCA" />
  </message>
  <message name="sendImmediateMessageSdataCAlCAResponse">
    <part name="parameters" element="tns:sendImmediateMessageSdataCAlCAResponse" />
  </message>
  <message name="sendImmediateMessageSidCAlCA">
    <part name="parameters" element="tns:sendImmediateMessageSidCAlCA" />
  </message>
  <message name="sendImmediateMessageSidCAlCAResponse">
    <part name="parameters" element="tns:sendImmediateMessageSidCAlCAResponse" />
  </message>
  <portType name="ClabService">
    <operation name="isSubscriberSourceLocked">
      <input message="tns:isSubscriberSourceLocked" />
      <output message="tns:isSubscriberSourceLockedResponse" />
    </operation>
    <operation name="countSubscribers">
      <input message="tns:countSubscribers" />
      <output message="tns:countSubscribersResponse" />
    </operation>
    <operation name="updateSubscriber">
      <input message="tns:updateSubscriber" />
      <output message="tns:updateSubscriberResponse" />
    </operation>
    <operation name="modifySubscriberSubscriptionStatus">
      <input message="tns:modifySubscriberSubscriptionStatus" />
      <output message="tns:modifySubscriberSubscriptionStatusResponse" />
    </operation>
    <operation name="getAvailableCommunicationCategories">
      <input message="tns:getAvailableCommunicationCategories" />
      <output message="tns:getAvailableCommunicationCategoriesResponse" />
    </operation>
    <operation name="getCampaignDeliveryStatus">
      <input message="tns:getCampaignDeliveryStatus" />
      <output message="tns:getCampaignDeliveryStatusResponse" />
    </operation>
    <operation name="publishOnWeb">
      <input message="tns:publishOnWeb" />
      <output message="tns:publishOnWebResponse" />
    </operation>
    <operation name="getCampaign">
      <input message="tns:getCampaign" />
      <output message="tns:getCampaignResponse" />
    </operation>
    <operation name="sendCampaign">
      <input message="tns:sendCampaign" />
      <output message="tns:sendCampaignResponse" />
    </operation>
    <operation name="cloneAndSendCampaign">
      <input message="tns:cloneAndSendCampaign" />
      <output message="tns:cloneAndSendCampaignResponse" />
    </operation>
    <operation name="getRequestStatus">
      <input message="tns:getRequestStatus" />
      <output message="tns:getRequestStatusResponse" />
    </operation>
    <operation name="createCampaign">
      <input message="tns:createCampaign" />
      <output message="tns:createCampaignResponse" />
    </operation>
    <operation name="setCampaignRecurrency">
      <input message="tns:setCampaignRecurrency" />
      <output message="tns:setCampaignRecurrencyResponse" />
    </operation>
    <operation name="getXMLDeliveries">
      <input message="tns:getXMLDeliveries" />
      <output message="tns:getXMLDeliveriesResponse" />
    </operation>
    <operation name="getXMLDeliveryTransitions">
      <input message="tns:getXMLDeliveryTransitions" />
      <output message="tns:getXMLDeliveryTransitionsResponse" />
    </operation>
    <operation name="cancelCampaign">
      <input message="tns:cancelCampaign" />
      <output message="tns:cancelCampaignResponse" />
    </operation>
    <operation name="getSubscriberSourceFilter">
      <input message="tns:getSubscriberSourceFilter" />
      <output message="tns:getSubscriberSourceFilterResponse" />
    </operation>
    <operation name="addSubscriberSourceFilter">
      <input message="tns:addSubscriberSourceFilter" />
      <output message="tns:addSubscriberSourceFilterResponse" />
    </operation>
    <operation name="findFiltersBySubscriberSource">
      <input message="tns:findFiltersBySubscriberSource" />
      <output message="tns:findFiltersBySubscriberSourceResponse" />
    </operation>
    <operation name="getSubscriberSource">
      <input message="tns:getSubscriberSource" />
      <output message="tns:getSubscriberSourceResponse" />
    </operation>
    <operation name="findSubscriberSources">
      <input message="tns:findSubscriberSources" />
      <output message="tns:findSubscriberSourcesResponse" />
    </operation>
    <operation name="getSubscriber">
      <input message="tns:getSubscriber" />
      <output message="tns:getSubscriberResponse" />
    </operation>
    <operation name="addSubscriber">
      <input message="tns:addSubscriber" />
      <output message="tns:addSubscriberResponse" />
    </operation>
    <operation name="addSubscribers">
      <input message="tns:addSubscribers" />
      <output message="tns:addSubscribersResponse" />
    </operation>
    <operation name="removeSubscriber">
      <input message="tns:removeSubscriber" />
      <output message="tns:removeSubscriberResponse" />
    </operation>
    <operation name="findSubscribersIncludedInFilter">
      <input message="tns:findSubscribersIncludedInFilter" />
      <output message="tns:findSubscribersIncludedInFilterResponse" />
    </operation>
    <operation name="startSubscriberDataExchange">
      <input message="tns:startSubscriberDataExchange" />
      <output message="tns:startSubscriberDataExchangeResponse" />
    </operation>
    <operation name="getSubscriberDataExchangeStatus">
      <input message="tns:getSubscriberDataExchangeStatus" />
      <output message="tns:getSubscriberDataExchangeStatusResponse" />
    </operation>
    <operation name="getMessageModelById">
      <input message="tns:getMessageModelById" />
      <output message="tns:getMessageModelByIdResponse" />
    </operation>
    <operation name="createMessageModel">
      <input message="tns:createMessageModel" />
      <output message="tns:createMessageModelResponse" />
    </operation>
    <operation name="findMessageModels">
      <input message="tns:findMessageModels" />
      <output message="tns:findMessageModelsResponse" />
    </operation>
    <operation name="findMessageModelsBySubscriberSource">
      <input message="tns:findMessageModelsBySubscriberSource" />
      <output message="tns:findMessageModelsBySubscriberSourceResponse" />
    </operation>
    <operation name="findCampaignsByNameOrSubject">
      <input message="tns:findCampaignsByNameOrSubject" />
      <output message="tns:findCampaignsByNameOrSubjectResponse" />
    </operation>
    <operation name="findCampaignsByStatus">
      <input message="tns:findCampaignsByStatus" />
      <output message="tns:findCampaignsByStatusResponse" />
    </operation>
    <operation name="findCampaignsSentBetween">
      <input message="tns:findCampaignsSentBetween" />
      <output message="tns:findCampaignsSentBetweenResponse" />
    </operation>
    <operation name="findCampaignsByNote">
      <input message="tns:findCampaignsByNote" />
      <output message="tns:findCampaignsByNoteResponse" />
    </operation>
    <operation name="findCampaignsByModel">
      <input message="tns:findCampaignsByModel" />
      <output message="tns:findCampaignsByModelResponse" />
    </operation>
    <operation name="findTriggerableCampaigns">
      <input message="tns:findTriggerableCampaigns" />
      <output message="tns:findTriggerableCampaignsResponse" />
    </operation>
    <operation name="findPeriodicCampaigns">
      <input message="tns:findPeriodicCampaigns" />
      <output message="tns:findPeriodicCampaignsResponse" />
    </operation>
    <operation name="findCampaignsBySubscriberSourceFilter">
      <input message="tns:findCampaignsBySubscriberSourceFilter" />
      <output message="tns:findCampaignsBySubscriberSourceFilterResponse" />
    </operation>
    <operation name="addCampaignNote">
      <input message="tns:addCampaignNote" />
      <output message="tns:addCampaignNoteResponse" />
    </operation>
    <operation name="findNotesByCampaign">
      <input message="tns:findNotesByCampaign" />
      <output message="tns:findNotesByCampaignResponse" />
    </operation>
    <operation name="addAttachment">
      <input message="tns:addAttachment" />
      <output message="tns:addAttachmentResponse" />
    </operation>
    <operation name="getCampaignFeedback">
      <input message="tns:getCampaignFeedback" />
      <output message="tns:getCampaignFeedbackResponse" />
    </operation>
    <operation name="requestCampaignFeedbackReport">
      <input message="tns:requestCampaignFeedbackReport" />
      <output message="tns:requestCampaignFeedbackReportResponse" />
    </operation>
    <operation name="uploadMediaContent">
      <input message="tns:uploadMediaContent" />
      <output message="tns:uploadMediaContentResponse" />
    </operation>
    <operation name="addSubscriberSource">
      <input message="tns:addSubscriberSource" />
      <output message="tns:addSubscriberSourceResponse" />
    </operation>
    <operation name="countSubscribersIncludedInFilter">
      <input message="tns:countSubscribersIncludedInFilter" />
      <output message="tns:countSubscribersIncludedInFilterResponse" />
    </operation>
    <operation name="findSubscribers">
      <input message="tns:findSubscribers" />
      <output message="tns:findSubscribersResponse" />
    </operation>
    <operation name="getCryptoKey">
      <input message="tns:getCryptoKey" />
      <output message="tns:getCryptoKeyResponse" />
    </operation>
    <operation name="findCampaigns">
      <input message="tns:findCampaigns" />
      <output message="tns:findCampaignsResponse" />
    </operation>
    <operation name="getAttachmentByCampaignId">
      <input message="tns:getAttachmentByCampaignId" />
      <output message="tns:getAttachmentByCampaignIdResponse" />
    </operation>
    <operation name="getTrackedLinks">
      <input message="tns:getTrackedLinks" />
      <output message="tns:getTrackedLinksResponse" />
    </operation>
    <operation name="triggerDeliveryById">
      <input message="tns:triggerDeliveryById" />
      <output message="tns:triggerDeliveryByIdResponse" />
    </operation>
    <operation name="triggerDeliveryByAlias">
      <input message="tns:triggerDeliveryByAlias" />
      <output message="tns:triggerDeliveryByAliasResponse" />
    </operation>
    <operation name="borrowToken">
      <input message="tns:borrowToken" />
      <output message="tns:borrowTokenResponse" />
    </operation>
    <operation name="keepaliveToken">
      <input message="tns:keepaliveToken" />
      <output message="tns:keepaliveTokenResponse" />
    </operation>
    <operation name="invalidateToken">
      <input message="tns:invalidateToken" />
      <output message="tns:invalidateTokenResponse" />
    </operation>
    <operation name="archiveSubscriberSourceFilter">
      <input message="tns:archiveSubscriberSourceFilter" />
      <output message="tns:archiveSubscriberSourceFilterResponse" />
    </operation>
    <operation name="reuseSubscriberSourceFilter">
      <input message="tns:reuseSubscriberSourceFilter" />
      <output message="tns:reuseSubscriberSourceFilterResponse" />
    </operation>
    <operation name="findArchivedFiltersBySubscriberSource">
      <input message="tns:findArchivedFiltersBySubscriberSource" />
      <output message="tns:findArchivedFiltersBySubscriberSourceResponse" />
    </operation>
    <operation name="getArchivedSubscriberSourceFilter">
      <input message="tns:getArchivedSubscriberSourceFilter" />
      <output message="tns:getArchivedSubscriberSourceFilterResponse" />
    </operation>
    <operation name="modifySubscriberSubscriptionStatusByMailqId">
      <input message="tns:modifySubscriberSubscriptionStatusByMailqId" />
      <output message="tns:modifySubscriberSubscriptionStatusByMailqIdResponse" />
    </operation>
    <operation name="sendImmediateMessage">
      <input message="tns:sendImmediateMessage" />
      <output message="tns:sendImmediateMessageResponse" />
    </operation>
    <operation name="sendImmediateMessageSidCid">
      <input message="tns:sendImmediateMessageSidCid" />
      <output message="tns:sendImmediateMessageSidCidResponse" />
    </operation>
    <operation name="sendImmediateMessageSDataCData">
      <input message="tns:sendImmediateMessageSDataCData" />
      <output message="tns:sendImmediateMessageSDataCDataResponse" />
    </operation>
    <operation name="sendImmediateMessageSIdCData">
      <input message="tns:sendImmediateMessageSIdCData" />
      <output message="tns:sendImmediateMessageSIdCDataResponse" />
    </operation>
    <operation name="sendImmediateMessageSdataCAl">
      <input message="tns:sendImmediateMessageSdataCAl" />
      <output message="tns:sendImmediateMessageSdataCAlResponse" />
    </operation>
    <operation name="sendImmediateMessageSidCAl">
      <input message="tns:sendImmediateMessageSidCAl" />
      <output message="tns:sendImmediateMessageSidCAlResponse" />
    </operation>
    <operation name="sendImmediateMessageSDataCIdCA">
      <input message="tns:sendImmediateMessageSDataCIdCA" />
      <output message="tns:sendImmediateMessageSDataCIdCAResponse" />
    </operation>
    <operation name="sendImmediateMessageSidCidCA">
      <input message="tns:sendImmediateMessageSidCidCA" />
      <output message="tns:sendImmediateMessageSidCidCAResponse" />
    </operation>
    <operation name="sendImmediateMessageSDataCDataCA">
      <input message="tns:sendImmediateMessageSDataCDataCA" />
      <output message="tns:sendImmediateMessageSDataCDataCAResponse" />
    </operation>
    <operation name="sendImmediateMessageSIdCDataCA">
      <input message="tns:sendImmediateMessageSIdCDataCA" />
      <output message="tns:sendImmediateMessageSIdCDataCAResponse" />
    </operation>
    <operation name="sendImmediateMessageSdataCAlCA">
      <input message="tns:sendImmediateMessageSdataCAlCA" />
      <output message="tns:sendImmediateMessageSdataCAlCAResponse" />
    </operation>
    <operation name="sendImmediateMessageSidCAlCA">
      <input message="tns:sendImmediateMessageSidCAlCA" />
      <output message="tns:sendImmediateMessageSidCAlCAResponse" />
    </operation>
  </portType>
  <binding name="ClabServicePortBinding" type="tns:ClabService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="isSubscriberSourceLocked">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="countSubscribers">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="updateSubscriber">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="modifySubscriberSubscriptionStatus">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getAvailableCommunicationCategories">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCampaignDeliveryStatus">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="publishOnWeb">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCampaign">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendCampaign">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="cloneAndSendCampaign">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getRequestStatus">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="createCampaign">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="setCampaignRecurrency">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getXMLDeliveries">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getXMLDeliveryTransitions">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="cancelCampaign">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getSubscriberSourceFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="addSubscriberSourceFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findFiltersBySubscriberSource">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getSubscriberSource">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findSubscriberSources">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getSubscriber">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="addSubscriber">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="addSubscribers">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="removeSubscriber">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findSubscribersIncludedInFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="startSubscriberDataExchange">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getSubscriberDataExchangeStatus">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getMessageModelById">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="createMessageModel">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findMessageModels">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findMessageModelsBySubscriberSource">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findCampaignsByNameOrSubject">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findCampaignsByStatus">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findCampaignsSentBetween">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findCampaignsByNote">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findCampaignsByModel">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findTriggerableCampaigns">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findPeriodicCampaigns">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findCampaignsBySubscriberSourceFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="addCampaignNote">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findNotesByCampaign">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="addAttachment">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCampaignFeedback">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="requestCampaignFeedbackReport">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="uploadMediaContent">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="addSubscriberSource">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="countSubscribersIncludedInFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findSubscribers">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getCryptoKey">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findCampaigns">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getAttachmentByCampaignId">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getTrackedLinks">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="triggerDeliveryById">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="triggerDeliveryByAlias">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="borrowToken">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="keepaliveToken">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="invalidateToken">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="archiveSubscriberSourceFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="reuseSubscriberSourceFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="findArchivedFiltersBySubscriberSource">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="getArchivedSubscriberSourceFilter">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="modifySubscriberSubscriptionStatusByMailqId">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessage">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSidCid">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSDataCData">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSIdCData">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSdataCAl">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSidCAl">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSDataCIdCA">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSidCidCA">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSDataCDataCA">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSIdCDataCA">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSdataCAlCA">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="sendImmediateMessageSidCAlCA">
      <soap12:operation soapAction="" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClabService">
    <port name="ClabServicePort" binding="tns:ClabServicePortBinding">
      <soap12:address location="https://soap.contactlab.it:443/soap/services" />
    </port>
  </service>
</definitions>